//
   Created by artem on 14.06.17.

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
        link(href='stylesheet/default.less', rel='stylesheet')
    body
        p something special is coming
