//
   Created by artem on 14.06.17.

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet/less' type='text/css' href='stylesheet/default.less')
        script(src='js/less.min.js' type='text/javascript')
        script(src='js/formVal.js' type='text/javascript')
    body
        include menu
        block content
